<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="./static/3.png" type="image/gif" sizes="16x16">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <title>COVID-19 Predictor</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            <a class="navbar-brand font-italic" href="#">COVID-19 Predictor</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link font-weight-bold" href="#">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="http://www.emro.who.int/health-topics/corona-virus/about-covid-19.html" target="_blank">About COVID-19</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle font-weight-bold" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Contact
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="https://www.who.int" target="_blank">WHO</a>
                        <a class="dropdown-item" href="https://www.mohfw.gov.in" target="_blank">MoHFW</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="https://shikhar17srivastav.wixsite.com/portfolio" target="_blank">WebSite Developer</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container text-center font-italic mt-3">
        <h2>Welcome to COVID-19 Predictor!</h2>
    </div>

<!--------------------------------------FORM-------------------------------------->
<div class="container-fluid px-0 py-2"></div>
<div class="container-fluid px-0 py-1 font-weight-bold text-center h5">Please Fill Patient's Details</div>
<div class="container border border-primary rounded px-4 py-2">
    <form>
        <div class="form-group">
            <label for="fullname">FULL NAME</label>
            <input type="text" class="form-control" id="fullname" placeholder="ENTER FULL NAME">
        </div>

        <div class="form-row ">
            <div class="form-group col-md-6">
                <label for="email">Email ID</label>
                <input type="email" class="form-control" id="email" placeholder="Enter to get report on your E-mail ID...">
            </div>
            
            <div class="form-group col-md-6">
                <label for="contact">Contact Number</label>
                <input type="tel" class="form-control" id="contact" placeholder="Enter to get report on your Contact Number...">
            </div>
        </div>

        <div class="form-row ">
            <div class="form-group col-md-6">
                <label for="age">Age</label>
                <input type="number" class="form-control" id="quantity" name="quantity" min="1" max="102"> 
            </div>
        <div class="form-group col-md-6">
            <label for="temperature">Body Temperature</label>
            <input type="number" class="form-control" id="temperature" name="temperature" min="95" max="106"> 
        </div>
        </div>

        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Body Pain</legend>
                <div class="col-sm-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="bodypain" id="bodypain1" value="option1">
                        <label class="form-check-label" for="bodypain">
                            Yes
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="bodypain" id="bodypain0" value="option2" checked>
                        <label class="form-check-label" for="gridRadios2">
                            No
                        </label>
                    </div>
                </div>
                <legend class="col-form-label col-sm-2 pt-0">Running Nose</legend>
                <div class="col-sm-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="runningnose" id="runningnose1" value="option1">
                        <label class="form-check-label" for="runningnose1">
                            Yes
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="runningnose" id="runningnose0" value="option2" checked>
                        <label class="form-check-label" for="runningnose0">
                            No
                        </label>
                    </div>
                </div>
                <legend class="col-form-label col-sm-2 pt-0">Breathing Difficulty </legend>
                <div class="col-sm-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" >
                        <label class="form-check-label" for="gridRadios1">
                            Yes
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2" checked>
                        <label class="form-check-label" for="gridRadios2">
                            No
                        </label>
                    </div>
                </div>                
            </div>
        </fieldset>

        <div class="form-group row">
            <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Check Prediction</button>
            </div>
        </div> 
    </form>
</div>

<!-- Footer -->
<footer class="page-footer font-small blue">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://shikhar17srivastav.wixsite.com/portfolio" target="_blank"> ShikharSrivastava</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>